{% extends "layout.twig" %}

{% block h1 %}
    Edit Task №{{ task.id }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
                        <p>Username: {{ task.username }}</p>
                        <p>Email: {{ task.email }}</p>
                        <p>{% if task.image %}
                                <img src="/img/{{ task.id }}/{{ task.image }}" alt="">
                            {% else %}
                                none
                            {% endif %}
                        </p>
                {{ form_widget(form) }}

                <a class="btn btn-secondary" href="{{ url('/') }}">Cancel</a>
                <span class="float-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </span>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

