{% extends 'layout.twig' %}

{% block h1 %}List of the tasks{% endblock %}

{% block body %}
    <div class="row">
        {% for task in tasks %}
            <section>
            <div class="col-sm">
                <p>{{ task.userName }}</p>
                <p>{{ task.email }}</p>
                <p>{{ task.text }}</p>
                <p>{{ task.image }}</p>
            </div>
            </section>
        {% endfor %}
    </div>

    <p><a href="{{ url('task.add') }}">Add Task</a></p>
{% endblock %}
