{% extends 'layout.twig' %}

{% block h1 %}List of the tasks{% endblock %}

{% block body %}
    <div class="text-right">
        {% include '@Pagination/paginator.twig' with {paginator: paginator} %}
    </div>

    <div class="row">
        {% for task in tasks %}
            <div class="col-12 col-lg-4">
                <section>
                    <h5>Task №{{ task.id }}</h5>
                    <p>{{ task.userName }}</p>
                    <p>{{ task.email }}</p>
                    <p>{{ task.text }}</p>
                    {% if task.image %}
                        <p><img src="/img/{{ task.id }}/{{ task.image }}" alt="" class="img-fluid"></p>
                    {% endif %}
                </section>
            </div>
        {% endfor %}
    </div>

    <p><a href="{{ url('task.add') }}">Add Task</a></p>
{% endblock %}
